<!DOCTYPE html>
<html style="height: 94%;" lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body style="height: 94%;">
    <div class="all-content">
        <header th:replace="~{fragments/common::nav}"></header>

        <div style="
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 700px;
        ">
            <h1 class="icon" style="font-size: 500px;">
                👤
            </h1>

            <div class="generic-gradient" style="
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 800px;
                    padding: 30px;
                    height: 450px;
                    border-radius: 40px;
                ">
                <h1 style="display: flex; align-items: center;">
                    <span th:text="${user.username}" />
                    <img style="width: 50px; height: 50px; margin-left: 10px;" th:src="@{'https://flagsapi.com/' + ${user.country.flag} + '/shiny/64.png'}">
                </h1>

                <p>
                    Email: <span th:text="${user.email}" /> <br><br>
                    <span th:text="${user.points}" /> points
                    <a style="background-color: yellow; color: black; border-radius: 20px; padding: 10px;" th:href="@{/redeem}">Redeem points</a>
                </p>

                <form th:method="POST" th:action="@{/logout}">
                    <input type="submit" value="Log out">
                </form>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>