<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <h1>
        Add event
    </h1>

    <form style="box-shadow: #0000003d 0px 0px 200px 0px;" th:method="POST" th:action="@{/add-event}" enctype="multipart/form-data">
        <label>Event name:</label>
        <input type="text" id="name" name="name">

        <label>Event description:</label>
        <input type="text" id="description" name="description">

        <label>Event cost:</label>
        <input type="text" id="cost" name="cost">

        <label>Start: </label>
        <input type="datetime-local" id="start" name="start">

        <label>End: </label>
        <input type="datetime-local" id="end" name="end">

        <label>Event image: </label>
        <input type="file" id="myFile" name="filename">

        <label>Event location: </label>
        <input type="text" id="text" name="location">

        <label>Event category:</label>
        <select id="category" name="category">
            <option value="">Select category</option>
            <option value="SPORT">SPORT</option>
            <option value="MUSIC">MUSIC</option>
            <option value="THEATRE">THEATRE</option>
            <option value="SCIENCE">SCIENCE</option>
            <option value="CHARITY">CHARITY</option>
            <option value="GAMING">GAMING</option>
            <option value="ART">ART</option>
            <option value="MUSEUMS">MUSEUMS</option>,
            <option value="COMPETITION">COMPETITION</option>
        </select>

        <input type="submit" value="Add event!" class="btn">
    </form>
</body>

</html>