<!DOCTYPE html>
<html lang="en" style="height: 94%;">

<head>

    <head th:replace="~{fragments/common::head}"></head>
    <script src="scripts/popup.js"></script>
</head>

<body style="height: 94%;">
    <div class="all-content" style="margin-bottom: -20px;">
        <header th:replace="~{fragments/common::nav}"></header>

        <div style="visibility: hidden;" id="page-display">
            <div
                style="width: 100%; position: fixed; height: 100%; left: 0%; top: 0%; backdrop-filter: brightness(50%);">
                <h1
                    style="position: fixed; left: 77%; top: 8%; background-color: white; padding: 10px; border-radius: 20px; font-size: 20px;">
                    <a id="close-btn" href="#">❎Close</a>
                </h1>
            </div>
            <iframe id="frame"
                style="box-shadow: #0000009c 0px 0px 200px 0px; width: 70%; position: fixed; height: 70%; left: 15%; top: 15%; background-color: white; border: 0px; border-radius: 20px;"
                th:src="@{/event-info-min/2}"></iframe>
        </div>

        <div style="visibility: hidden;" id="page-display2">
            <div
                style="width: 100%; position: fixed; height: 100%; left: 0%; top: 0%; backdrop-filter: brightness(50%);">
                <h1
                    style="position: fixed; left: 77%; top: 8%; background-color: white; padding: 10px; border-radius: 20px; font-size: 20px;">
                    <a id="close-btn2" href="#">❎Close</a>
                </h1>
            </div>
            <iframe id="frame-report"
                style="box-shadow: #0000009c 0px 0px 200px 0px; width: 70%; position: fixed; height: 70%; left: 15%; top: 15%; background-color: white; border: 0px; border-radius: 20px;"
                th:src="@{/report}"></iframe>
        </div>

        <form style="box-shadow: #016100 0px 0px 200px 0px;" th:method="POST" th:action="@{/browse}" class="tag-form">
            <input type="submit"
                style="font-size: 40px; padding: 0px; border-color: transparent; box-shadow: rgba(0, 0, 0, 0.118) 0px 0px 50px 0px;"
                value="🔁">
            <div>
                <label>ALL</label>
                <input type="checkbox" name="all">
            </div>
            <div>
                <label>ART</label>
                <input type="checkbox" name="art">
            </div>
            <div>
                <label>CHARITY</label>
                <input type="checkbox" name="charity">
            </div>
            <div>
                <label>COMPETITION</label>
                <input type="checkbox" name="competition">
            </div>
            <div>
                <label>GAMING</label>
                <input type="checkbox" name="gaming">
            </div>
            <div>
                <label>MUSIC</label>
                <input type="checkbox" name="music">
            </div>
            <div>
                <label>SCIENCE</label>
                <input type="checkbox" name="science">
            </div>
            <div>
                <label>SPORT</label>
                <input type="checkbox" name="sport">
            </div>
            <div>
                <label>THEATRE</label>
                <input type="checkbox" name="theatre">
            </div>
        </form>

        <div th:each="currEvent : ${events.events}">
            <div th:if="(${currEvent.category==events.enums[0]} and ${events.filters[0]}) OR
        (${currEvent.category.toString()==events.enums[1]} and ${events.filters[1]}) OR
        (${currEvent.category.toString()==events.enums[2]} and ${events.filters[2]}) OR
        (${currEvent.category.toString()==events.enums[3]} and ${events.filters[3]}) OR
        (${currEvent.category.toString()==events.enums[4]} and ${events.filters[4]}) OR
        (${currEvent.category.toString()==events.enums[5]} and ${events.filters[5]}) OR
        (${currEvent.category.toString()==events.enums[6]} and ${events.filters[6]}) OR
        (${currEvent.category.toString()==events.enums[7]} and ${events.filters[7]}) OR
        (${events.filters[8]})" class="event-listing">
                <div class="container-image">
                    <img th:src="@{/api/event/image(id=${currEvent.id})}" alt="Image">
                </div>

                <div class="listing-content">
                    <h1>
                        <a class="event-link" th:id="${currEvent.id}" href="javascript:void(0)"><span
                                th:text="${currEvent.name}"></span></a>
                    </h1>
                    <p>
                        <span th:text="${currEvent.category}"></span>, added by <span
                            th:text="${currEvent.addedBy.username}"></span>
                        <a th:if="${@loggedUser.logged and @loggedUser.username!=currEvent.addedBy.username and not @loggedUser.followedUsers.contains(currEvent.addedBy.username)}"
                            th:href="@{/follow/{username}(username=${currEvent.addedBy.username})}"
                            style="background-color: yellow; margin-left: 20px; border-radius: 20px; padding: 10px;">Follow</a>
                    </p>
                    <p style="display: flex; align-items: center;">
                        <span th:text="${currEvent.location} + ', ' + ${currEvent.city.name}"> </span>
                        <img style="width: 50px; height: 50px; margin-left: 10px;" th:src="@{'https://flagsapi.com/' + ${currEvent.country.flag} + '/shiny/64.png'}">
                    </p>
                    <p>
                        <span th:text="${#temporals.format(currEvent.start, 'dd/MM/YY')}"></span> - <span th:text="${#temporals.format(currEvent.end, 'dd/MM/YY')}"></span><br>
                        <span th:text="${#temporals.format(currEvent.start, 'HH:mm')}"></span> - <span th:text="${#temporals.format(currEvent.end, 'HH:mm')}"></span>
                    </p>
                </div>

                <div class="buy-section">
                    <a th:if="${@loggedUser.logged and not @loggedUser.isAdmin and @loggedUser.username != currEvent.addedBy.username}" class="report-btn"
                        th:id="${currEvent.id + ' report'}" href="javascript:void(0)">🚩 Report</a>
                    <a th:if="${@loggedUser.logged and @loggedUser.isAdmin}"
                        th:href="@{/remove/{id}(id=${currEvent.id})}">❌Delete</a>
                    <h2><span th:text="${currEvent.cost}"></span> points</h2>
                    <a th:if="${@loggedUser.logged}"
                        th:unless="${@loggedUser.eventsParticipation.contains(currEvent.id)}"
                        th:href="@{/enroll/{id}(id=${currEvent.id})}"><input style="margin-top: 40px;" type="button"
                            value="Enroll" class="btn"></a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("close-btn2").onclick = function (e) { return myHandler(e); };
    </script>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>