<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <div class="info-image">
        <img style="margin-top: -60px; height: 450px;" th:src="@{/api/event/image(id=${event.id})}" alt="Image">
    </div>

    <div class="event-card">
        <h1>
            <span th:text="${event.name}"></span>
        </h1>

        <p>
            <span th:text="${event.description}"></span>
        </p>

        <p>
            Cost: <span th:text="${event.cost}"></span>
        </p>
    </div>
</body>

</html>