<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <div class="coming-events-container">
        <div class="center">
            <h1>You're participating in...</h1>
        </div>

        <div style="display: flex; overflow-x: auto">
            <div th:each="currEvent : ${feed.participating}" class="card-container" style="height: 600px;">
                <div class="card">
                    <img th:src="@{/api/event/image(id=${currEvent.id})}">
                    <h1>
                        <a th:href="@{/event-info/{id}(id=${currEvent.id})}"><span
                                th:text="${currEvent.name}"></span></a>
                    </h1>
                    <p>
                        Starts <span th:text="${currEvent.start}"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="center">
            <a th:href="@{/browse}"><input style="margin-top: 40px;" type="button" value="Browse events"
                    class="btn"></a>
        </div>
    </div>

    <div style="background-color: lightgreen;" class="coming-events-container">
        <div class="center">
            <h1>For you</h1>
        </div>

        <div style="display: flex; overflow-x: auto">
            <div th:each="currEvent : ${feed.foryou}" class="card-container" style="height: 600px;">
                <div class="card">
                    <img th:src="@{/api/event/image(id=${currEvent.id})}">
                    <h1>
                        <a th:href="@{/event-info/{id}(id=${currEvent.id})}"><span
                                th:text="${currEvent.name}"></span></a>
                    </h1>
                    <p>
                        Starts <span th:text="${currEvent.start}"></span>
                    </p>
                </div>
            </div>
        </div>

        <div class="center">
            <a th:href="@{/browse}"><input style="margin-top: 40px;" type="button" value="Browse events"
                    class="btn"></a>
        </div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>