<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <div class="coming-events-container">
        <div class="center">
            <h1>Your upcoming events</h1>
        </div>

        <div th:each="currEvent : ${upcomingEvents}" class="card-container">
            <div class="card">
                <img src="img/test.jpg">
                <h1>
                    <a th:href="@{/event-info/{id}(id=${currEvent.id})}"><span th:text="${currEvent.name}"></span></a>
                </h1>
                <p>
                    <span th:text="${currEvent.description}"></span>
                </p>
            </div>
        </div>

        <div class="center">
            <a th:href="@{/browse}"><input style="margin-top: 40px;" type="button" value="Browse events" class="btn"></a>
        </div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>