<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>
    <div class="coming-events-container">
        <h1>
            Welcome to Eventico!
        </h1>

        <p>
            The ultimate event manager! Browse events, add events, manage your time and have fun while at it!
        </p>

        <p>
            Log in if you have an account or register.
        </p>
    </div>
    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>