<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <div class="form-div">
        <div class="form-content">
            <h1>
                Log in
            </h1>

            <div class="form-container">
                <form th:action="@{/home}">
                    <label>Username:</label>
                    <input type="text" name="username">

                    <label>Password:</label>
                    <input type="password" name="password">

                    <input type="submit" value="Log in" class="btn">
                </form>
            </div>
        </div>

        <h1 class="big-text">
            Welcome to Eventico!
        </h1>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>