<!DOCTYPE html>
<html lang="en">

<head>

    <head th:replace="~{fragments/common::head}"></head>
</head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <div th:each="currEvent : ${events}">
        <div th:if="${currEvent.addedBy.username == @loggedUser.username or @loggedUser.isAdmin}" class="event-listing">
            <div class="container-image">
                <img th:src="@{/api/event/image/{id}(id=${currEvent.id})}" alt="Image">
            </div>

            <div class="listing-content">
                <h1>
                    <a th:href="@{/event-info/{id}(id=${currEvent.id})}"><span th:text="${currEvent.name}"></span></a>
                </h1>
                <p>
                    <span th:text="${currEvent.category}"></span>
                </p>
                <p>
                    <span th:text="${currEvent.start}"></span> - <span th:text="${currEvent.end}"></span>
                </p>
            </div>

            <div class="buy-section">
                <h2><span th:text="${currEvent.cost}"></span> participants</h2>
                <a th:href="@{/remove/{id}(id=${currEvent.id})}"><input style="margin-top: 40px; background-color: red;" type="button"
                        value="Remove" class="btn"></a>
            </div>
        </div>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>