<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <h1>
        Redeem code
    </h1>

    <p>
        Redeem code to gain points
    </p>

    <form th:action="@{/}">
        <label>Code: </label>
        <input type="text" name="code">
        <br>

        <input type="submit" value="Redeem code">
    </form>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>