<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/common::head}"></head>

<body>
    <header th:replace="~{fragments/common::nav}"></header>

    <div class="form-div">
        <div class="form-content">
            <h1>
                Register
            </h1>

            <div class="form-container">
                <div th:if="${error}" class="text-danger">
                    Registration failed
                </div>
                
                <form th:object="${userRegisterBindingModel}" th:method="POST" th:action="@{/register}" class="form-4">
                    <label>Username:</label>
                    <input th:field="*{username}" type="text" name="username" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('username')}">
                    <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Username error message</small>

                    <label>Email:</label>
                    <input th:field="*{email}" type="email" name="email" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('email')}">
                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Email error message</small>

                    <label>Password:</label>
                    <input th:field="*{password}" type="password" name="password" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('password')}">
                    <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Password error message</small>

                    <label>Repeat password:</label>
                    <input th:field="*{repeat}" type="password" name="repeat" th:errorclass="bg-danger">
                    <br th:if="${#fields.hasErrors('repeat')}">
                    <small th:if="${#fields.hasErrors('repeat')}" th:errors="*{repeat}" class="text-danger">Repeat error message</small>

                    <label>Country:</label>
                    <select id="country" name="country">
                        <option th:each="country : ${countries}" th:value="${country.name}"><span th:text="${country.name}"></span></option>
                    </select>

                    <label>Your role:</label>
                    <select id="role" name="role">
                        <option value="USER">User</option>
                        <option value="CREATOR">Creator</option>
                    </select>

                    <input type="submit" value="Register" class="btn">
                </form>
            </div>
        </div>

        <h1 class="big-text">
            Thank you <br> for joining Eventico!
        </h1>
    </div>

    <footer th:replace="~{fragments/common::footer}"></footer>
</body>

</html>