<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav>
            <script src="scripts/themes.js"></script>
            <div style="color: yellow; font-weight: 900; font-size: 25px;">
                <a th:unless="${@loggedUser.logged}" th:href="@{/}" style="color: yellow; font-weight: 900; font-size: 25px;">Eventico</a>
                <a th:if="${@loggedUser.logged}" th:href="@{/home}" style="color: yellow; font-weight: 900; font-size: 25px;">Eventico</a>
                <button style="display: inline; background: none; border: none;" class="btn-toggle">🌙</button>  
            </div>

            <div>
                <!-- <a th:if="${@loggedUser.logged}" th:href="@{/home}">Home</a> -->
                <!-- <a th:unless="${@loggedUser.logged}" th:href="@{/login}">Home</a> -->
                <a th:href="@{/browse}">Browse</a>
                <a th:if="${@loggedUser.creator}" th:href="@{/add-event}">Host event</a>
                <a th:if="${@loggedUser.creator}" th:href="@{/manage}">Manage events</a>
                <a th:if="${@loggedUser.admin}" th:href="@{/manage-reports}">Manage reports</a>
                <a th:if="${@loggedUser.logged}" th:href="@{/redeem}">Redeem points</a>
                <a th:unless="${@loggedUser.logged}" th:href="@{/login}">Redeem points</a>
            </div>

            <div>
                <a th:if="${@loggedUser.logged}" th:href="@{/account}">
                    <span th:text="${@loggedUser.username}"/>
                </a>
                <a th:if="${@loggedUser.logged}" th:href="@{/logout}">
                    <i class="fa fa-sign-out"></i>
                </a>
                <div th:unless="${@loggedUser.logged}">
                    <a th:href="@{/login}">Login</a>
                </div>
            </div>
        </nav>
    </header>

    <footer>
        <div style="color: yellow; background-color: black; padding: 20px; border-radius: 20px; font-weight: 900; font-size: 25px;">
            © Eventico 2023
        </div>
    </footer>
</body>

</html>